---
title: Marketer turned bootstrapper
description: Hi, I'm Onur. I'm the founder of Simple Matters, where I help startup founders with marketing and growth. Currently, I'm learning Ruby, how to build a SaaS business online and sharing my experiences here.
permalink: /
---

<div class="w-32 mb-6">
  <img src="/assets/images/onur-profile-square.jpg" alt="{{ site.author.name }}" class="rounded-full" />
</div>

<div class="content">
  <h1>{{ page.title }}.</h1>
  <p>Hi, I'm Onur. I'm the founder of <a href="https://simplematters.co/" class="">Simple Matters</a>, where I help startup founders with marketing and growth. Currently, I'm learning <a href="http://ruby.social/@onurozer">Ruby</a>, how to build a SaaS business online and sharing my experiences here.</p>
</div>

<div class="flex mb-12 gap-x-3">
{% for social in site.data.socials %}
  <a href="{{ social.href }}" title="{{ social.title }}">
    {% svg "/assets/icons/{{ social.icon }}" class="w-5 h-5 fill-gray-800 hover:fill-gray-900" %}
  </a>
{% endfor %}
</div>

<h2 class="mt-8 mb-3 text-3xl font-bold">Posts</h2>
{% include posts.liquid %}

<h2 class="mt-8 mb-3 text-3xl font-bold">Projects</h2>
{% include projects.liquid %}