<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: resource.data.title %>
  </head>
  <body class="text-xl text-gray-900">
    <div class="p-6 flex flex-col min-h-screen">
      <%= render "header", metadata: site.metadata %>
      <main class="py-16 flex-grow">
        <div class="content max-w-2xl">
          <%= yield %>
        </div>
      </main>
      <%= render "footer", metadata: site.metadata %>
    </div>
  </body>
</html>
